body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.flexible-display {
  display: flex;
}
.half-width-size {
  width: 50%;
  padding: 5%;
}
.top-text-margin {
  margin-top: 150px;
}
.half-width-size h1 {
  font-size: 70px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(99, 98, 97);
  margin-left: 10px;
}
.skip-color {
  color: tomato;
}
.half-width-size p {
  font-size: 20px;
  line-height: 30px;
  color: rgb(124, 122, 122);
  padding: 15px 3% 5%;
}
.half-width-size a {
  text-decoration: none;
  color: white;
  margin-left: 3%;
  background-image: linear-gradient(orange, tomato);
  padding: 20px 35px;
  border-radius: 50px;
  box-shadow: 3px 0px 25px rgb(197 190 190);
  font-size: 20px;
}
.half-width-size img {
  margin-top: 45px;
  width: 100%;
}
.about-section-banner {
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-me-img {
  width: 50%;
}
.about-me-img img {
  width: 50%;
  margin-left: 20%;
  margin-top: 25px;
}
.about-me-width h2 {
  margin-left: 25px;
  font-size: 45px;
  margin-top: 140px;
  color: #806f6f;
}
.about-me-width {
  width: 50%;
}
.about-me-width p {
  font-size: 20px;
  line-height: 30px;
  color: rgb(124, 122, 122);
  margin-left: 28px;
  margin-right: 320px;
  margin-bottom: 120px;
}
.about-me-width a {
  text-decoration: none;
  color: white;
  margin-left: 3%;
  background-image: linear-gradient(orange, tomato);
  padding: 20px 35px;
  border-radius: 50px;
  box-shadow: 3px 0px 25px rgb(197 190 190);
  font-size: 20px;
}

.my-recipes {
  text-align: center;
}
.my-recipes h1 {
  font-size: 50px;
  margin-top: 65px;
  color: rgb(112, 94, 94);
}
.my-recipes p {
  font-size: 20px;
  padding: 0px 480px;
  color: #6f6565;
}
.recipes-title {
  width: 26%;
  margin: 3%;
  border: 15px solid;
  box-shadow: 3px 0px 25px rgb(232 218 218);
  border-color: white;
  border-radius: 20px;
}

.recipes-title img {
  width: 100%;
}

.recipes-title h1 {
  font-size: 40px;
}
.recipes-title p {
  padding-right: 25px;
  font-size: 20px;
  line-height: 30px;
}

.Popular-item-section {
  background-image: url(images/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid;
  box-shadow: 3px 0px 25px rgb(232 218 218);
  border-color: white;
  margin: 50px;
}

.Popular-item-head {
  text-align: center;
  margin-bottom: 15px;
  color: orange;
  font-size: 50px;
  padding-top: 50px;
}

.popular-item-list ul li {
  list-style-type: none;
}

.popular-item-price ul li {
  list-style-type: none;
}

.popular-item-list {
  width: 50%;
  padding-left: 28%;
  color: tomato;
  font-size: 25px;
}
.popular-item-price {
  width: 50%;
  font-size: 25px;
  color: tomato;
}

.footer-section {
  text-align: center;
  margin-top: 100px;
  background-color: black;
}
.footer-section h1 {
  font-size: 50px;
  color: white;
  padding-top: 70px;
  margin-bottom: 50px;
}
.footer-section p {
  color: white;
  padding-bottom: 150px;
  font-size: 20px;
}
